/*************** PRINTING ***************/

@media print {

  .txt_unit_ftn_ref, .doc_endnotes, .ch_endnotes {
    display : none;
  }

  .ch {
    counter-reset : footnote;
  }

  @page {
    @footnote {
      border-top : solid thin grey;
    }
  }


  span.ftn {
    display   : block;
    float     : footnote;
    font-size : inherit;
  }

/*
  ::footnote-marker {
    content : counter(footnote) "  ";
  }
*/

  ::footnote-call {
    content        : counter(footnote);
    line-height    : 0;
    vertical-align : super;
    font-size      : 8px;
  }
}
