
@font-face {
  font-family : IosevkaCustom-Fixed-Slab-ExtraExtended;
  src         : url(<path-to-font>/IosevkaCustom-Fixed-Slab-ExtraExtended-Regular.ttf);
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : IosevkaCustom-Fixed-Slab-ExtraExtended;
  src         : url(<path-to-font>/IosevkaCustom-Fixed-Slab-ExtraExtended-Bold.ttf);
  font-weight : bold;
  font-style  : normal;
}

@font-face {
  font-family : IosevkaCustom-Fixed-Slab-ExtraExtended;
  src         : url(<path-to-font>/IosevkaCustom-Fixed-Slab-ExtraExtended-Italic.ttf);
  font-weight : normal;
  font-style  : italic;
}

@font-face {
  font-family : IosevkaCustom-Fixed-Slab-ExtraExtended;
  src         : url(<path-to-font>/IosevkaCustom-Fixed-Slab-ExtraExtended-BoldItalic.ttf);
  font-weight : bold;
  font-style  : italic;
}

html {
  font-family : IosevkaCustom-Fixed-Slab-ExtraExtended;
}
