html {
	font-family: monospace;
}

.blk.dsp {
	background-color:lightgrey;
	margin-right:6ch;
	padding:1ch;
	border-radius:1ch;
}

.title {
	font-size:30px;
}

.author {
	font-size:16px;
}

.ch_hdr, .ch_lbl, .ch_lbl_hdr {
	font-size:20px;
}

.sec_hdr, .sec_lbl {
	font-size:16px;
}

.blk.blt, .blk.itm {
	margin:1em;
}
