html {
	font-family: monospace;
}

.blk_dsp {
	background-color:lightgrey;
	margin-right:6ch;
	padding:1ch;
	border-radius:1ch;
}

.sec_hdr {
	font-weight:normal;
	text-decoration:underline;
}

.blk_blt, .blk_itm {
	margin:1em;
}
